<!-- A child of base.html-->
{% extends "base.html" %}

{% block content %}
   
<section>
        <h2>Journal: Mood Analyzer</h2>

        <h2><img height="200" src="static/images/CART_351_Home_Page_Icon.png" class="pageIcon"></h2>
        <!-- Content for home page -->
        <p>On this website, you will be able to publish your own journal entries. Each entry will be processed through a high-tech artificial intelligence that can determine the sentimentality of your message.<br><br>
        <p>However, as you will see, this is not a mere diary. It is an <b>experience.</b> <br><br>
</section>
{% endblock %}

<!-- Inserting TABS in html:   <span>&emsp; &emsp; &emsp; &emsp; &emsp;</span>-->