<!-- A child of base.html-->
{% extends "base.html" %}

{% block scriptBlock %}
        <script src="{{url_for('static',filename='js/sentimentHelper.js')}}"></script>
        <script src="{{url_for('static',filename='js/collective.js')}}"></script>
{%endblock%}

{% block content %}
   
<section>
        <h2>Entry Collection</h2>

        <h2><img height="200" src="static/images/CART_351_Collection_Page_Icon.png" class="pageIcon"></h2>
        <!-- Content for collective entries page -->
        <div class = "card">
        <p>Below lies the culmination of past journal entries. These results offer a window into the past and, perhaps, even a glimpse into the future.</div>
</section>

<div class = "button-container">
        <button type = "button" class = "button_class" id = "viewCollectionButton">View Collection</button>
</div>

<div id = "journalHolder">






</div>

{% endblock %}
