<!-- A child of base.html-->
{% extends "base.html" %}

{% block content %}
   
<section>
        <h2>Entry Collection</h2>

        <h2><img height="200" src="static/images/CART_351_Collection_Page_Icon.png" class="pageIcon"></h2>
        <!-- Content for collective entries page -->
        <div class = "card">
        <p>Below lies the culmination of your past journal entries. These results offer a window into your past and, perhaps, even a vision into the future.</div><br><br>
</section>



{% endblock %}