<!-- A child of base.html-->
{% extends "base.html" %}

{% block content %}
   
<section>
        <h2>Welcome to FLASKEMY FEUD!</h2>
        <!-- Content for home page -->
        <p>On this website, you will be able to host your very own Family Feud game from the comfort of your home.<br><br>

        <b>INSTRUCTIONS:</b><br><br>
        Have a group of people fill out the survey to provide data to be used during the game! Don't allow the contestants to see the survey!<br>
        Of those who have not viewed the survey, select contestants to independently complete the gameshow. The highest score wins!

    </section>
{% endblock %}