<!-- A child of base.html -->
{% extends "base.html" %}

<!-- Javascript for the FETCH request -->
{% block scriptBlock%}
    <script src="{{url_for('static',filename='js/script_get.js')}}"></script>
{% endblock scriptBlock%}

{% block content %}

<section>
    <h2>SURVEY</h2>
        <!-- Content for survey -->
        <br><p><b>INSTRUCTIONS:</b><br><br>
        For each of the following prompts, type an answer that best fits with your experiences.<br>
        Please ensure that each response should be no more than ONE word. Any responses longer will not be counted.<br>
        After you finish typing your answers, simply press the "Submit Survey Data" button.</p>

        <!-- Family Feud Survey -->
        <div class= "formContainer">

            <form id = "ffSurveyFETCH">
                <fieldset>
                <p>
                    <label>What is the first item you use after waking up in the morning?</label>
                    <input type="text" size="24" maxlength = "40" name = "q_1" required> 
                </p>
                
                <p>
                    <label>Which day of the week is most fitting for filing your taxes?</label>
                    <input type="text" size="24" maxlength = "40" name = "q_2" required> 
                </p>
                <p>
                    <label>Name a country you would most like to visit.</label>
                    <input type = "text" size="24" maxlength = "40" name = "q_3" required>
                </p>
                
                <p>
                    <label></label>
                    <input class="submitButton" id = "submitFFData" type = "submit" name = "submit" value = "Submit Survey Data" id =buttonS />
                </p>
                </fieldset>
                
            </form>

        </div>

    </section>

    <div id = "results"> </div>
{% endblock %}
