*{
    margin:0;
    padding:0;
}

body{
    font-family: "Roboto", sans-serif;
}
#player{
    background-color: hwb(0 0% 0%);
    margin-left: auto;
    margin-right: auto;
    /* top: 300px; */
    width: 100px;
    height: 100px;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size:32px;
    padding: 1rem 0 2rem 0;
    color:#29488c;
}
nav{
    background-color:#29488c;
}
nav ul{
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content:center; 
}
nav ul li{
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items:center;  
}
nav img{
    display: block;
    margin-bottom: -30px;
}
nav li a{
text-decoration: none;
color:rgb(255, 255, 255);
font-size: 1.2rem;
font-weight: bold;
}

main{
    display: flex;
  justify-content: center;
    margin: 0.7rem;
    background-color: rgb(229, 243, 245);
    min-height:calc(75vh);
    padding: 4rem 6rem 0rem 6rem;
}

footer{
    background-color:#29488c;
    min-height:5vh;
    padding: 1rem 0rem 0rem 0rem;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
}

input{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    width:10rem;
    height:2.5rem;
    border: solid 0.1rem #29488c;
    background-color:white;
    color: #29488c;
}

.submitButton{
    background-color:#29488c;
    color: white;
}
.submitButton:hover{
    background-color:white;
    color: #29488c;
}

.gameContainer{
    display: grid;
    place-items: center;
    margin: 2rem 0 1rem 0;
}

.gameBoard{
    display: grid;
    place-items: center;
    background-image: linear-gradient(to bottom, #000, #524900);
    color: #fff;
    margin: 0 0 2rem 0;
}
.gameBoard h3{
    margin: 2rem 0 0 0;
}

.gameBoard h1{
    margin: 0;
    font-size: 3rem;
    color: #cad61f;
}

.card_table{
    width: 100%;
    height: 3rem;
    padding: 2rem;
}
.card_table tr{
    font-size: 1rem;
}

.card_container{
    border: 0.2rem solid #29488c;
    /* position:absolute; */
    width: 20rem;
    height: 3rem;
}
.card{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card.flip{
    transform: rotateX(180deg);
}

.card_front, .card_back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.card_front{
    font-size: 2rem;
    background: #29488c;
    color: #fff;
}

.card_back{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 80% 20%;
    vertical-align: middle;
    background: #fff;
    color: #29488c;
    transform: rotateX(180deg);
}

.card_back div{
    padding: 0.8rem;
    border: 0.3rem #29488c;
    border-style: hidden solid hidden solid;
    text-align: center;
}

.gameContainer form{display: grid; place-items: center;}
.gameContainer fieldset{display: grid; place-items: center;width:75%;color:#302e2e;margin:0;margin-top:0;border:none;font-size:14px;text-transform: uppercase;}
.gameContainer label{display:none; width:30%; margin-top:0;text-transform: uppercase;}
.gameContainer textarea{margin-top:10px;width:50%;margin-left:0;}
.gameContainer input{margin-left:0;width:50%;text-align: center;}


.nextButton{
    height: 2.5rem;
    width:50%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    border: solid 0.1rem #29488c;
    background-color:#29488c;
    color: #fff;
}
.nextButton:hover{
    background-color:#fff;
    color: #29488c;
}

.nextStage{
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 1rem auto 4rem auto;
}

label{display:inline-block; width:30%; margin-top:1%;text-transform: uppercase;}
textarea{margin-top:10px;width:50%;margin-left:2%;}
input{margin-left:2%;width:50%;}
fieldset{width:75%;color:#302e2e;margin:0 auto;margin-top:2%;border:none;font-size:14px;text-transform: uppercase;}
select{width:50%;}
